<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-v0}">
<head>
    <title>About Us</title>
</head>
<body>

<div layout:fragment="contents">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>About Us</h1>
                    <p>
                        A web application (or web app) is application software that is accessed using a web browser. Web
                        applications are delivered on the World Wide Web to users with an active network connection.[1]
                    </p>
                    <p>
                        In earlier computing models like client-server, the processing load for the application was
                        shared between code on the server and code installed on each client locally. In other words, an
                        application had its own pre-compiled client program which served as its user interface and had
                        to be separately installed on each user's personal computer. An upgrade to the server-side code
                        of the application would typically also require an upgrade to the client-side code installed on
                        each user workstation, adding to the support cost and decreasing productivity. In addition, both
                        the client and server components of the application were usually tightly bound to a particular
                        computer architecture and operating system and porting them to others was often prohibitively
                        expensive for all but the largest applications (Nowadays,[when?] native apps for mobile devices
                        are also hobbled by some or all of the foregoing issues).[dubious – discuss]
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
