<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-v0}">
<head>
    <title>Contact Us</title>
</head>
<body>

<div layout:fragment="contents">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact Us</h1>
                    <p>
                        ग्राहक बहुत महत्वपूर्ण है, ग्राहक का ग्राहक द्वारा अनुसरण किया जाएगा।
                        यह न तो शीर्षक है और न ही तत्व, बल्कि कभी-कभी एक संपत्ति है।
                        नाव और रियल एस्टेट डेवलपर।
                    </p>
                    <p>Please send your query and we are pleased to help you.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>
