<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="dContents">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to Our Site</h1>
                <h2>Integrating Thymeleaf with Spring</h2>
                <p>
                    Thymeleaf offers a set of Spring integrations that allow you to use it as a fully-featured
                    substitute for JSP in Spring MVC applications.
                </p>
                <p>
                    These integrations will allow you to:
                </p>
                <p>
                    Make the mapped methods in your Spring MVC @Controller objects forward to templates managed by
                    Thymeleaf, exactly like you do with JSPs.
                    Use Spring Expression Language (Spring EL) instead of OGNL in your templates.
                </p>
                <p>
                    Create forms in your templates that are completely integrated with your form-backing beans and
                    result bindings, including the use of property editors, conversion services and validation error
                    handling.
                    Display internationalization messages from message files managed by Spring (through the usual
                    MessageSource objects).
                </p>
                <p>
                    Resolve your templates using Spring’s own resource resolution mechanisms.
                </p>
                <p>
                    Note that in order to fully understand this tutorial, you should have first gone through the
                    “Using Thymeleaf” tutorial, which explains the Standard Dialect in depth.
                </p>
            </div>
        </div>

        <div class="bottomNav">
            <a class="btn" th:href="@{/index}">Home</a>
            <a class="btn" th:href="@{/login}">Login</a>
            <a class="btn" th:href="@{/admin}">Admin</a>
            <a class="btn" th:href="@{/about-us}">About Us</a>
            <a class="btn" th:href="@{/contact-us}">Contact Us</a>
            <a class="btn" th:href="@{/user}">User</a>
            <a class="btn" th:href="@{/all}">All</a>
            <a class="btn" th:href="@{/logout}">Logout</a>
        </div>

        <br/>

        <div class="bottomNav">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            <form>
                <div class="form-group">
                    <label class="form-label">Message</label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="text" name="message" id="message"/>
                    </div>
                </div>

                <div class="block">
                    <button class="glyphicon glyphicon-trash" id="deleteButton">Delete</button>
                </div>
            </form>

            <div class="block" id="deleteResponse"></div>

            <!-- javascript -->
            <script type="text/javascript">
                $(document).ready(function () {
                    $("button").click(function (event) {
                        var baseUrl = window.location.origin;
                        // console.log(window.location)
                        if (!baseUrl.endsWith("security-filter-chain")) {
                            baseUrl = baseUrl + "/security-filter-chain";
                        }
                        $.ajax({
                            url: baseUrl + "/delete",
                            method: "DELETE",
                            headers: {
                                "X-Api-Key": "rslakra"
                            },
                            data: {
                                message: $("#message").val(),
                            },
                            success: function (response) {
                                // redirect to another page
                                // window.location.href = "/items";
                                console.log(response)
                                // alert('ok');
                                $("#deleteResponse").html(response);
                            },
                            error: function (response) {
                                console.log(response)
                                // alert('error');
                                $("#deleteResponse").html(response);
                            }
                        });
                    });
                });

            </script>
        </div>

    </div>
</div>

</body>
</html>