<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ThymeLeaf Virtual Grocery</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../css/thymeleaf.css" media="all" rel="stylesheet" th:href="@{/css/thymeleaf.css}"
          type="text/css"/>
</head>

<body th:object="${order}">

<h1>Order details</h1>

<div>
    <p><b>Code:</b> <span th:text="*{id}">99</span></p>
    <p><b>Date:</b> <span th:text="*{#calendars.format(date,'dd MMM yyyy')}">13 jan 2011</span></p>
</div>

<h2>Customer</h2>

<div th:object="*{customer}">
    <p><b>Name:</b> <span th:text="*{name}">Frederic Tomato</span></p>
    <p><b>Since:</b> <span th:text="*{#calendars.format(customerSince,'dd MMM yyyy')}">13 jan 2011</span></p>
</div>

<h2>Products</h2>

<table>
    <tr>
        <th>PRODUCT</th>
        <th>QUANTITY</th>
        <th>PRICE</th>
        <th>AMOUNT</th>
    </tr>
    <tr th:class="${row.odd}? 'odd'" th:each="ol,row : *{orderLines}">
        <td th:text="${ol.product.getName()}">Strawberries</td>
        <td class="number" th:text="${ol.getQuantity()}">3</td>
        <td class="number" th:text="${ol.getPrice()}">23.32</td>
        <td class="number" th:text="${ol.getAmount()}">3</td>
    </tr>
    <tr>
        <td colspan="3" th:align="center">TOTAL</td>
        <td class="number" th:text="*{#aggregates.sum(orderLines.{price * quantity})}">16.43</td>
    </tr>
</table>

<div>
    <b>TOTAL:</b> <span th:text="*{#aggregates.sum(orderLines.{price * quantity})}">35.23</span>
</div>

<p>
    <a href="list.html" th:href="@{/order/list}">Return to order list</a>
</p>

</body>

</html>

