<!-- footer -->
<div th:fragment="footer">
    &copy; Lakra Inc.
    <!--<footer class="contributor" th:fragment="footer">-->
    <!-- navbar-actions -->
    <script type="text/javascript" th:src="@{/js/navbar-actions.js}"></script>

    <!--    <p>-->
    <!--        Copyright &copy; Lakra Inc-->
    <!--    </p>-->
    <!--    <p>-->
    <!--        Author: <a href="https://www.rslakra.com/" rel="nofollow" target="_blank">Lakra Inc</a>-->
    <!--        - -->
    <!--        Distributed By: <a title="Lakra Inc" href="https://www.rslaka.com?source=demo-page"-->
    <!--                           target="_blank">Lakra Inc</a>-->
    <!--    </p>-->
    <!--</footer>-->
</div>
