<div class="top_navbar" th:fragment="top-navbar">
    <!-- hamburger -->
    <div class="hamburger">
        <div class="hamburger-inner">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </div>

    <!-- top-navbar -->
    <div class="menu">
        <div class="logo">
            Lakra Inc
        </div>
        <div class="right_menu">
            <ul>
                <li><i class="fas fa-user"></i>
                    <div class="profile_dd">
                        <div class="dd_item">Profile</div>
                        <div class="dd_item">Change Password</div>
                        <div class="dd_item">Logout</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
