# OS Specific Files/Folders
.DS_Store
Icon*

# Maven Folders
.mvn/
target/

# Gradle Folders
.gradle
build/
out/

# Python Files/Folders/Virtual Environment
.venv*
venv_*
bin/
include/
lib/

# Other Files/Folders
*.exe
*.jar
*.war
*.rar
*.zip

