<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!-- Enable AspectJ style of Spring AOP -->
    <aop:aspectj-autoproxy/>

    <!-- Configure Employee Bean and initialize it -->
    <bean name="advice" class="com.rslakra.aopservice.model.Employee">
        <property name="name" value="Dummy Name"></property>
    </bean>

    <!-- Configure EmployeeService bean -->
    <bean name="employeeService" class="com.rslakra.aopservice.service.EmployeeService">
        <property name="advice" ref="advice"></property>
    </bean>

    <!-- Configure Aspect Beans, without it, Aspects advices won't execute -->
    <bean name="employeeAspect" class="com.rslakra.aopservice.aspect.EmployeeAspect"/>
    <bean name="employeeAspectPointcut" class="com.rslakra.aopservice.aspect.EmployeeAspectPointcut"/>
    <bean name="employeeAspectJoinPoint" class="com.rslakra.aopservice.aspect.EmployeeAspectJoinPoint"/>
    <bean name="employeeAfterAspect" class="com.rslakra.aopservice.aspect.EmployeeAfterAspect"/>
    <bean name="employeeAroundAspect" class="com.rslakra.aopservice.aspect.EmployeeAroundAspect"/>
    <bean name="employeeAnnotationAspect" class="com.rslakra.aopservice.aspect.EmployeeAnnotationLoggableAspect"/>
    <bean name="employeeXMLConfigAspect" class="com.rslakra.aopservice.aspect.EmployeeXMLConfigAspect"/>

    <!-- Spring AOP XML Configuration -->
    <aop:config>
        <aop:aspect ref="employeeXMLConfigAspect" id="employeeXMLConfigAspectID" order="1">
            <aop:pointcut expression="execution(* com.rslakra.aopservice.model.Employee.getName())"
                          id="getNamePointcut"/>
            <aop:around method="employeeAroundAdvice" pointcut-ref="getNamePointcut" arg-names="proceedingJoinPoint"/>
        </aop:aspect>
    </aop:config>
</beans>
