<!DOCTYPE html>
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/melody-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">

<head>
    <!-- Title -->
    <title>Melody's Home</title>
    <!-- static-resources -->
    <th:block id="home-static-resources">
        <!-- Other static resource files -->
    </th:block>
</head>

<!-- body -->
<body>

<!-- header -->
<div id="home-header">
    Melody's Home
</div>

<!-- nav-bar - Left Side -->
<div id="home-nav" th:replace="~{/fragments/melody-fragments :: nav-default}">
    Navigation Bar
</div>

<!-- main-content - Right Side -->
<div id="home-main-content">
    <!-- H2 -->
    <h2>Dashboard</h2>

    <div class="contents"> <!-- div:contents-start -->
        <div>
            <p>
                A melody (from Greek μελῳδία, melōidía, "singing, chanting"),[1] also tune, voice or line, is a linear
                succession of musical tones that the listener perceives as a single entity. In its most literal sense, a
                melody is a combination of pitch and rhythm, while more figuratively, the term can include other musical
                elements such as tonal color. It is the foreground to the background accompaniment. A line or part need
                not be a foreground melody.
            </p>
            <p>
                Melodies often consist of one or more musical phrases or motifs, and are usually repeated throughout a
                composition in various forms. Melodies may also be described by their melodic motion or the pitches or
                the
                intervals between pitches (predominantly conjunct or disjunct or with further restrictions), pitch
                range,
                tension and release, continuity and coherence, cadence, and shape.
            </p>
        </div>

        <div>
            <p>
                The Norwegian composer Marcus Paus has argued:
            </p>

            <p>
                Melody is to music what a scent is to the senses: it jogs our memory. It gives face to form, and
                identity and character to the process and proceedings. It is not only a musical subject, but a
                manifestation of the musically subjective. It carries and radiates personality with as much clarity and
                poignancy as harmony and rhythm combined. As such a powerful tool of communication, melody serves not
                only as protagonist in its own drama, but as messenger from the author to the audience.
            </p>
        </div>

        <div>
            <p>
                Given the many and varied elements and styles of melody "many extant explanations [of melody] confine us
                to specific stylistic models, and they are too exclusive."[4] Paul Narveson claimed in 1984 that more
                than three-quarters of melodic topics had not been explored thoroughly.[5]
            </p>
            <p>
                The melodies existing in most European music written before the 20th century, and popular music
                throughout the 20th century, featured "fixed and easily discernible frequency patterns", recurring
                "events, often periodic, at all structural levels" and "recurrence of durations and patterns of
                durations".[4]
            </p>

            <p>
                Melodies in the 20th century "utilized a greater variety of pitch resources than ha[d] been the custom
                in any other historical period of Western music." While the diatonic scale was still used, the chromatic
                scale became "widely employed."[4] Composers also allotted a structural role to "the qualitative
                dimensions" that previously had been "almost exclusively reserved for pitch and rhythm". Kliewer states,
                "The essential elements of any melody are duration, pitch, and quality (timbre), texture, and
                loudness.[4] Though the same melody may be recognizable when played with a wide variety of timbres and
                dynamics, the latter may still be an "element of linear ordering."[4]
            </p>
        </div>

        <div>
            <a href="https://en.wikipedia.org/wiki/Melody">Reference</a>
        </div>
    </div> <!-- div:contents-end -->

    <!-- javascript -->
    <script type="text/javascript" href="../../static/js/actions.js" th:src="@{/js/actions.js}"></script>
</div>

<!-- footer -->
<div id="home-footer" th:replace="~{/fragments/footer :: footer}">
    Footer
</div>
</body>
</html>