<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- springframework -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot" level="WARN"/>
    <logger name="org.springframework.core" level="WARN"/>
    <logger name="org.springframework.transaction" level="WARN"/>
    <!-- in order to debug some marshalling issues, this needs to be TRACE -->
    <logger name="org.springframework.web.servlet.mvc" level="WARN"/>

    <!-- hibernate -->
    <logger name="org.hibernate" level="WARN"/>

    <!-- apache -->
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>

    <!-- zaxxer -->
    <logger name="org.zaxxer" level="WARN"/>
    <!--    <logger name="org.zaxxer.hikari" level="WARN"/>-->
    <logger name="org.zaxxer.hikari.*" level="WARN"/>

    <!-- swagger -->
    <logger name="io.swagger" level="WARN"/>

    <!-- libraryservice -->
    <logger name="com.rslakra.libraryservice" level="DEBUG"/>

    <!-- DEBUG -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
