<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="Edit">
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-6">

            <!--/* only th:fragment form is returned for an XMLHttpRequest */-->
            <th:block th:fragment="form">
                <form th:action="@{|/cities/${city.id}|}" th:object="${city}" method="post">
                    <div class="form-group">
                        <label class="control-label" th:for="name">Name</label>
                        <input class="form-control" th:field="*{name}" type="text"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" th:for="foundedIn">Founded in</label>
                        <input class="form-control" th:field="*{foundedIn}" type="number" step="1"
                               min="-2147483648" max="2147483647"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" th:for="population">Population</label>
                        <input class="form-control" th:field="*{population}" type="number" step="1"
                               min="0" max="2147483647"/>
                    </div>
                    <div class="form-group submit-cancel">
                        <input class="btn btn-primary" type="submit" value="Save changes"/>
                        <a class="btn btn-default btn-cancel" th:href="@{/cities}">Cancel</a>
                    </div>
                </form>
            </th:block>
        </div>
    </div>
</th:block>
</html>