<header th:fragment="header">
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark bg-primary rounded">
        <a class="navbar-brand" th:href="@{/}">
            Lakra Inc
        </a>

        <!-- top navigation toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- top navigation bar -->
        <div class="collapse navbar-collapse justify-content-between" id="topNavbar">
            <!-- left navigation items -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tutorials}">Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tasks}">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about-us}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact-us}">Contact Us</a>
                </li>
            </ul>

            <!-- right navigation items -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/signin}">Sign in</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/profile}">Profile</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
</header>
