<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--<footer th:fragment="footer" class="footer">-->
<!--    &copy; 2020 The Acronyms-->
<!--</footer>-->
<!--<footer th:fragment="footer-admin" class="footer">-->
<!--    &copy; 2020 The Admin Acronyms-->
<!--</footer>-->

<!-- /*  Multiple fragments may be defined in one file */-->
<div th:fragment="footer" class="footer">
    <p>&copy; 2023 The Melody Service</p>
    <p>Copyright &copy; Lakra Inc</p>
    <p>
        Author: <a href="https://www.rslakra.com/" rel="nofollow" target="_blank">Lakra Inc</a>
        &nbsp;&nbsp;-&nbsp;&nbsp;
        Distributed By: <a title="Lakra Inc" href="https://www.rslakra.com?source=demo-page"
                           target="_blank">Lakra Inc</a>
    </p>
</div>

<div th:fragment="footer-admin" class="footer">
    <p>&copy; 2023 The Admin Melody Service</p>
    <p>Copyright &copy; Lakra Inc</p>
    <p>
        Author: <a href="https://www.rslakra.com/" rel="nofollow" target="_blank">Lakra Inc</a>
        &nbsp;&nbsp;-&nbsp;&nbsp;
        Distributed By: <a title="Lakra Inc" href="https://www.rslakra.com?source=demo-page"
                           target="_blank">Lakra Inc</a>
    </p>
</div>

</body>
</html>

