<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Registration</title>
</head>
<body>

<div layout:fragment="dContents">
    <div class="container">
        <div class="row">
            <a class="btn text-right" th:href="@{/index}">Home</a>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Registration</div>
            <div class="panel-body">
                <form th:action="@{/auth/register}" th:object="${user}" method="post">
                    <!-- Registration Errors -->
                    <div class="row">
                        <p class="error-message"
                           th:if="${#fields.hasGlobalErrors()}"
                           th:each="error : ${#fields.errors('global')}"
                           th:text="${error}">Validation Error!</p>
                    </div>

                    <!-- Registration Fields -->
                    <!-- https://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp -->
                    <div class="form-group has-feedback"
                         th:classappend="${#fields.hasErrors('userName')}? 'has-error':''">
                        <input type="text" class="form-control" name="userName"
                               th:field="*{userName}" placeholder="Username"/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('userName')}"
                           th:text="${error}">Validation Error!</p>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" name="password" th:field="*{password}"
                               placeholder="Password"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" name="passwordConfirmed"
                               th:field="*{passwordConfirmed}"
                               placeholder="Confirm Password"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="firstName" th:field="*{firstName}"
                               placeholder="First Name"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="middleName" th:field="*{middleName}"
                               placeholder="Middle Name"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="lastName" th:field="*{lastName}"
                               placeholder="Last Name"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" name="email" th:field="*{email}" placeholder="Email"/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-offset-8 col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat"
                                    th:text="#{label.register}">Sign-up
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
