<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- body -->
<body> <!-- start:body -->

<!-- contents -->
<section layout:fragment="contents"> <!-- start:section:contents -->
    <div class="box-block"> <!-- start:header -->
        <!-- start:contents -->
        <div class="container-fluid"> <!-- start:container-fluid -->
            <h2 class="text-center">[[${pageTitle}]]</h2>
            <div class="form-container"> <!-- start:form-container -->
                <form class="form-contents" th:action="@{/tutorials/save}" th:object="${tutorial}"
                      method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}"/>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="title">Title</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text"
                                   th:field="*{title}" required placeholder="Title"
                                   minlength="2" maxlength="128" id="title"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="description">Description</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text"
                                   th:field="*{description}" placeholder="Description"
                                   minlength="2" maxlength="256" id="description"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="level">Level</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="number" step="1"
                                   th:field="*{level}" required min="1" id="level"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 form-check-label" for="published">Published</label>
                        <div class="col-sm-9">
                            <input type="checkbox" th:field="*{published}" id="published"/>
                        </div>
                    </div>

                    <div class="text-center">
                        <input class="btn btn-primary btn-sm mr-2" type="submit" value="Save"/>
                        <input class="btn btn-secondary btn-sm" type="button" value="Cancel" id="btnCancel"/>
                    </div>

                </form>
            </div> <!-- end:form-container -->
        </div> <!-- start:container-fluid -->

        <!-- end:contents -->
    </div>  <!-- end:header -->

    <!-- javascript -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCancel").on("click", function () {
                window.location = "[[@{/tutorials}]]";
            });
        });
    </script>

</section> <!-- end:section:contents -->

</body>
</html>
