<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- body -->
<body> <!-- start:body -->

<!-- contents -->
<section layout:fragment="contents"> <!-- start:section:contents -->
    <div class="box-block">  <!-- start:box-block -->
        <!-- start:contents -->
        <h1 class="text-center">Tutorials</h1>

        <div th:if="${message != null}"
             class="alert alert-success alert-dismissible fade show text-center message"
             role="alert">
            [[${message}]]
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="form-container"> <!-- start:form-container -->
            <form class="form-contents" th:action="@{/tutorials}">
                <div class="row">
                    <!-- left-column -->
                    <div class="column">
                        <div class="flex-container">
                            <input type="text" id="keyword" name="keyword" th:value="${keyword}"
                                   required placeholder="Search ...">
                            <button class="form-button" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                    <!-- right-column -->
                    <div class="column">
                        <button class="form-button" id="btnClear">Clear</button>
                        <button class="form-button" id="btnAddTutorial">Add</button>
                    </div>
                </div>
            </form>
        </div> <!-- end:form-container -->
    </div>  <!-- end:box-block -->

    <div class="box-block"> <!-- start:box-block -->
        <div th:if="${tutorials.size() > 0}">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Level</th>
                    <th scope="col">Published</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tutorial : ${tutorials}">
                    <th scope="row">[[${tutorial.id}]]</th>
                    <td>[[${tutorial.title}]]</td>
                    <td>[[${tutorial.description}]]</td>
                    <td>[[${tutorial.level}]]</td>
                    <td>
                        <a class="fa-regular fa-square"
                           th:href="@{'/tutorials/' + ${tutorial.id} + '/published/' + ${!tutorial.published}}"
                           th:title="${tutorial.published} ? 'Disable Tutorial' : 'Enable Tutorial'"></a>
                    </td>
                    <td>
                        <a class="fa-regular fa-pen-to-square"
                           th:href="@{'/tutorials/' + ${tutorial.id}}"
                           title="Edit this tutorial">
                            <i class="fa fa-pencil"></i>
                        </a>
                        &nbsp;
                        <a class="fa-regular fa-trash-can btn-delete"
                           th:href="@{'/tutorials/delete/' + ${tutorial.id}}"
                           th:tutorialTitle="${tutorial.title}"
                           id="btnDelete" title="Delete this tutorial">
                            <i class="fa fa-delete"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="" th:unless="${tutorials.size() > 0}">
            <span>No tutorials found!</span>
        </div>

        <div class="modal fade text-center" id="confirmModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <span id="confirmText"></span>
                    </div>

                    <div class="modal-footer">
                        <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- end:contents -->
    </div>  <!-- end:box-block -->


    <!-- javascript -->
    <script type="text/javascript"> <!-- start:javascript -->
    $(document).ready(function () {
        $(".btn-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);

            tutorialTitle = link.attr("tutorialTitle");
            $("#yesBtn").attr("href", link.attr("href"));
            $("#confirmText").html("Do you want to delete the Tutorial \<strong\>" + tutorialTitle + "\<\/strong\>?");
            $("#confirmModal").modal();
        });

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/tutorials}]]";
        });

        $("#btnAddTutorial").on("click", function (e) {
            e.preventDefault();
            window.location = "[[@{/tutorials/add}]]";
        });
    });
    </script> <!-- end:javascript -->

</section> <!-- end:section:contents -->

</body>
</html>
