<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-v0}">

<head> <!-- start:head -->
    <title>Thymeleaf Templates</title>
</head> <!-- end:head -->
<body>

<div layout:fragment="contents">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to Lakra Inc!</h1>
                    <p>The Great Thymeleaf Templates Usage in the Web Applications</p>
                    <p>
                        जालानुप्रयोग (जाल-अनुप्रयोग) ऐसा अनुप्रयोग सॉफ्टवेयर होता है जो किसी जाल ब्राउज़र में चल सके।
                        इसका प्रयोग करने हेतु उपयोक्ता को अपने कम्प्यूटर पर जाल ब्राउज़र के अतिरिक्त किसी विशेष
                        सॉफ़्टवेयर को डालने की आवश्यकता नहीं होती। ई-मेल जैसे कई अनुप्रयोग, जिन्हें प्रयोग करने हेतु
                        1990 के दशक के मध्य तक उपयोक्ताओं को पहले अपनी यन्त्रों पर ई-मेल अनुप्रयोग डालना ज़रूरी था,
                        धीरे-धीरे जालानुप्रयोगों में परिवर्तित हो गए, जिस से उन्हें प्रयोग करना अति-सरल हो गया।
                        सामान्यतः पर जालानुप्रयोग अपना अधिकतर कार्य जालानुप्रयोग निर्माणकर्ता के सर्वरों पर करती है जो
                        कि उपयोक्ताओं से छुपा हुआ होता है।[1][2]
                    </p>
                </div>
                <div class="col-md-12">
                    <a href="https://en.wikipedia.org/wiki/Web_application">Reference</a>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
