<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="contents">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to Our Site</h1>
                    <p>
                        ग्राहक बहुत महत्वपूर्ण है, ग्राहक का ग्राहक द्वारा अनुसरण किया जाएगा।
                        यह न तो शीर्षक है और न ही तत्व, बल्कि कभी-कभी एक संपत्ति है।
                        नाव और रियल एस्टेट डेवलपर।
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
