<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="box col-md-6 col-md-offset-3">
            <h1>Available Commands:</h1>
            <h2>(assumes httpie - https://github.com/jkbrzt/httpie):</h2>
            <h3 th:text="'http ' + ${requestUrl}">http</h3>
            <p>This usage message</p>
            <p th:text="'http ' + ${requestUrl} + '/static-builder'"></p>
            <p>build JWT from hardcoded claims</p>
            <p th:text="'http POST ' + ${requestUrl} + '/dynamic-builder-general claim-1=value-1 ... [claim-n=value-n]'"></p>
            <p>build JWT from passed in claims (using general claims map)</p>
            <p th:text="'http POST ' +  ${requestUrl} + '/dynamic-builder-specific claim-1=value-1 ... [claim-n=value-n]'"></p>
            <p>build JWT from passed in claims (using specific claims methods)</p>
            <p th:text="'http POST ' +  ${requestUrl} + '/dynamic-builder-compress claim-1=value-1 ... [claim-n=value-n]'"></p>
            <p>build DEFLATE compressed JWT from passed in claims</p>
            <p th:text="'http ' +  ${requestUrl} + '/parser?jwt=<jwt>'"></p>
            <p>Parse passed in JWT</p>
            <p th:text="'http ' + ${requestUrl} + '/parser-enforce?jwt=<jwt>'"></p>
            <p>Parse passed in JWT enforcing the 'iss' registered claim and the 'hasAutomobile' custom claim</p>
            <p th:text="'http  ' +  ${requestUrl} + '/get-secrets'"></p>
            <p>Show the signing keys currently in use.</p>
            <p th:text="'http ' +  ${requestUrl} + '/refresh-secrets'"></p>
            <p>Generate new signing keys and show them.</p>
            <p th:text="'http POST ' +  ${requestUrl} + '/set-secrets HS256=base64-encoded-value HS384=base64-encoded-value HS512=base64-encoded-value'"></p>
            <p>Explicitly set secrets to use in the application.</p>
        </div>
    </div>
</div>
</body>
</html>
