<nav class="navbar navbar-default" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar" aria-hidden="true"></span>
                <span class="icon-bar" aria-hidden="true"></span>
                <span class="icon-bar" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">The Thymeleaf Fragments</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:class="${section eq 'cities'} ? 'active'">
                    <a th:href="@{/cities}">Cities <span th:if="${section eq 'cities'}" class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="ui-toggle" class="hidden"></li>
            </ul>
        </div>
    </div>
</nav>