/* table-styles */
table {
    width: 100%;
    border: 1px solid var(--primary-table-color);
    border-collapse: collapse;
    empty-cells: show;
    /*height: 350px;*/
}

table > tbody > tr > td, table > thead > tr > th {
    padding: 10px;
    border-left: 1px dotted var(--primary-table-color);
    /*line-height: 20px;*/
}

table > tbody > tr, table > thead > tr {
    border-bottom: 1px solid var(--primary-table-color);
}

table th {
    background-color: var(--primary-table-color);
    color: var(--primary-background-color);;
}

ol > li {
    margin-top: 10px;
}

tr.odd td {
    background-color: #f0faaa;
}

td {
    text-align: center;
}

td.number {
    text-align: right;
}


.table-style {
    /*width: 450px;*/
    padding: 30px;
    /*margin: 40px auto;*/
    background: var(--primary-background-color);
    border-radius: var(--button-border-radius);
    -webkit-border-radius: var(--button-border-radius);
    -moz-border-radius: var(--button-border-radius);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

/*.table-style table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*    !*border: 2px solid var(--primary-table-color);*!*/
/*}*/

/*.table-style thead,*/
/*.table-style tbody {*/
/*    display: block;*/
/*    width: 100%;*/
/*    overflow: auto;*/
/*    height: 100%;*/
/*}*/

/*.table-style thead tr {*/
/*    !* fallback *!*/
/*    width: 97%;*/
/*    !* minus scroll bar width *!*/
/*    width: -webkit-calc(100% - 16px);*/
/*    width: -moz-calc(100% - 16px);*/
/*    width: calc(100% - 16px);*/
/*}*/

/*!* Style table headers and table data *!*/
/*.table-style th, td {*/
/*    text-align: center;*/
/*    padding: 16px;*/
/*}*/

/*.table-style tr:after {*/
/*    content: ' ';*/
/*    display: block;*/
/*    visibility: hidden;*/
/*    clear: both;*/
/*}*/

/*.table-style tbody {*/
/*    height: 100%;*/
/*    overflow-y: auto; !* Trigger vertical scroll    *!*/
/*    overflow-x: hidden; !* Hide the horizontal scroll *!*/
/*}*/

/*.table-style tbody {*/
/*    border-top: 2px solid var(--primary-background-color);*/
/*}*/

/*.table-style tbody td,*/
/*.table-style thead th {*/
/*    border-right: 1px solid var(--primary-table-color);*/
/*}*/

/*.table-style tbody td:last-child, thead th:last-child {*/
/*    border-right: none !important;*/
/*}*/


/*.table-style thead {*/
/*    display: table-header-group;*/
/*    vertical-align: middle;*/
/*    border-color: inherit;*/
/*}*/

.table-style .inner-wrap {
    padding: 30px;
    background: #F8F8F8;
    border-radius: var(--button-border-radius);
    margin-bottom: 15px;
}

.table-style h1 {
    background: #2A88AD;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: var(--primary-background-color);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}

.table-style h1 > span {
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}

.table-style label {
    display: block;
    font: 16px Arial, Helvetica, sans-serif;
    color: var(--primary-background-color);
    margin-bottom: 15px;
}

.table-style input[type="text"],
.table-style input[type="date"],
.table-style input[type="datetime"],
.table-style input[type="email"],
.table-style input[type="number"],
.table-style input[type="search"],
.table-style input[type="time"],
.table-style input[type="url"],
.table-style input[type="password"],
.table-style textarea,
.table-style select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: var(--button-border-radius);
    -webkit-border-radius: var(--button-border-radius);
    -moz-border-radius: var(--button-border-radius);
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.table-style .section {
    font: normal 20px 'Bitter', serif;
    color: #2A88AD;
    margin-bottom: 5px;
}

.table-style .section span {
    background: #2A88AD;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid var(--primary-background-color);
    font-size: 14px;
    margin-left: -45px;
    color: var(--primary-background-color);
    margin-top: -3px;
}

.table-style input[type="button"],
.table-style input[type="submit"] {
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: var(--button-border-radius);
    -webkit-border-radius: var(--button-border-radius);
    -moz-border-radius: var(--button-border-radius);
    color: var(--primary-background-color);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 16px;
}

.table-style input[type="button"]:hover,
.table-style input[type="submit"]:hover {
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.table-style .privacy-policy {
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}

