<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- head -->
<head> <!-- start:head -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <!-- css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
    <!-- Core CSS Styles -->
    <link rel="stylesheet" th:href="@{/css/core-styles.css}"/>
    <!-- Modal CSS Styles -->
    <link rel="stylesheet" th:href="@{/css/modal-styles.css}"/>
    <!-- SideBar-Menu CSS Styles -->
    <link rel="stylesheet" th:href="@{/css/sidebar-styles.css}"/>
    <!-- Form CSS Styles -->
    <link rel="stylesheet" th:href="@{/css/form-styles.css}"/>
    <!-- Table CSS Styles -->
    <link rel="stylesheet" th:href="@{/css/table-styles.css}"/>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</head> <!-- end:head -->

<!-- body -->
<body> <!-- start:body -->

<div class="wrapper"> <!-- start:wrapper -->
    <!-- top_navbar -->
    <div th:replace="~{fragments/top-navbar :: top-navbar}">Top Navbar</div>

    <!-- main_container -->
    <div class="main_container"> <!-- start:main_container -->
        <!-- sidebar -->
        <div th:replace="~{fragments/sidebar :: sidebar}">Sidebar</div>

        <div class="container"> <!-- start:container -->
            <!-- start:contents -->
            <section layout:fragment="contents">
                <!-- Contents Section -->
                <p>Filled with the contents template.</p>
            </section>
            <!-- end:contents -->
        </div> <!-- start:container -->

    </div> <!-- end:main_container -->
</div> <!-- end:wrapper -->

<!-- footer -->
<div th:replace="~{fragments/footer :: footer}">footer</div>

<!-- Optional Section -->
<th:block layout:fragment="optional"/>

</body> <!-- end:body -->
</html> <!-- end:html -->
