<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <div th:insert="fragments/header :: header">Header</div>-->
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/acronym-styles.css" th:href="@{/css/core-styles.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/form-styles.css" th:href="@{/css/form-styles.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/sidebar-styles.css" th:href="@{/css/sidebar-styles.css}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">

    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">-->

    <!-- Title -->
    <title>List of Roles</title>
</head>

<body>

<!-- nav:sidebar-start -->
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <a href="home.html" th:href="@{/home}">
                    <img src="images/logo.png" alt="Melody">
                </a>
                <!-- <img src="images/logo.png" alt="Logo" /> -->
            </span>

            <div class="text logo-text">
                <span class="name">Lakra Inc</span>
                <span class="profession">Architect</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <li class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Search...">
            </li>

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="index.html" th:href="@{/}">
                        <i class='bx bx-arch icon'></i>
                        <span class="text nav-text">Home</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="home.html" th:href="@{/home}">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <!-- roles -->
                <li class="nav-link">
                    <a href="account/role/listRoles.html" th:href="@{/roles/list}">
                        <i class='bx bx-aperture icon'></i>
                        <span class="text nav-text">Roles</span>
                    </a>
                </li>

                <!-- users -->
                <li class="nav-link">
                    <a href="account/user/listUsers.html" th:href="@{/users/list}">
                        <i class='bx bx-user-circle icon'></i>
                        <span class="text nav-text">Users</span>
                    </a>
                </li>

                <!-- artists -->
                <li class="nav-link">
                    <a href="artist/listArtists.html" th:href="@{/artists/list}">
                        <i class='bx bx-user-voice icon'></i>
                        <span class="text nav-text">Artists</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="song/listSongs.html" th:href="@{/songs/list}">
                        <i class='bx bx-music icon'></i>
                        <span class="text nav-text">Songs</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-bar-chart-alt-2 icon'></i>
                        <span class="text nav-text">Revenue</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">Notifications</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-pie-chart-alt icon'></i>
                        <span class="text nav-text">Analytics</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-like icon'></i>
                        <span class="text nav-text">Likes</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-wallet icon'></i>
                        <span class="text nav-text">Wallets</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="#">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>

    </div>

</nav> <!-- nav:sidebar-end -->

<section class="home">
    <div class="text">Roles</div>

    <!-- Body Container -->
    <div class="text body-container">
        <!-- Top Bar Buttons -->
        <div>
            <!-- New Role -->
            <a class="button" href="editRole.html" th:href="@{/roles/create}">New Role</a>
            <!-- Upload Roles -->
            <a class="button" href="uploadRoles.html" th:href="@{/roles/upload}">Upload Roles</a>
            <!-- Download Roles (.csv) -->
            <a class="button" th:href="@{/roles/download?fileType=csv}">Download Roles (.csv)</a>
            <!-- Download Roles (.xlsx) -->
            <a class="button" th:href="@{/roles/download?fileType=excel}">Download Roles (.xlsx)</a>
        </div>

        <!-- List Roles -->
        <div th:switch="${roles}">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <div th:case="${roles.size() == 0}">
                    <tr>
                        <td colspan="9">
                            <h2>No Records Found!</h2>
                        </td>
                    </tr>
                </div>
                <div th:case="*">
                    <tr th:each="role : ${roles}">
                        <td th:text="${role.id}"/>
                        <td th:text="${role.name}"/>
                        <td th:text="${role.status}"/>
                        <td class="action-button action-button-fixed-size">
                            <a class="action-button-padding" th:href="@{/roles/update/{id}(id=${role.id})}">
                                <i class="fa fa-pencil" style="font-size:24px;color:red"></i>
                            </a>
                            <a class="action-button-padding" th:href="@{/roles/delete/{id}(id=${role.id})}">
                                <i class="fa fa-trash" style="font-size:24px;color:red"></i>
                            </a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>

        <!--Back Button -->
        <div>
            <a class="button" href="../../home.html" th:href="@{/home}">Back</a>
        </div>

    </div>
</section>

</body>

<!-- javascript -->
<script type="text/javascript" href="../../static/js/actions.js" th:src="@{/js/actions.js}"></script>

<!-- Footer -->
<!--<div th:replace="~{fragments/footer::footer}">Footer</div>-->
<footer class="footer">
    <div th:insert="~{fragments/footer::footer}"></div>
</footer>

</html>

