<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- /*  Multiple fragments may be defined in one file */-->
<div th:fragment="footer" class="footer">
    <p>&copy; 2023 The Business Service</p>
    <p>Copyright &copy; Lakra Inc</p>
    <p>
        Author: <a href="https://www.rslakra.com/" rel="nofollow" target="_blank">Lakra Inc</a>
        &nbsp;&nbsp;-&nbsp;&nbsp;
        Distributed By: <a title="Lakra Inc" href="https://www.rslakra.com?source=demo-page"
                           target="_blank">Lakra Inc</a>
    </p>
</div>
<div th:fragment="footer-admin" class="footer">
    <p>&copy; 2023 The Admin Business Service</p>
    <p>Copyright &copy; Lakra Inc</p>
    <p>
        Author: <a href="https://www.rslakra.com/" rel="nofollow" target="_blank">Lakra Inc</a>
        &nbsp;&nbsp;-&nbsp;&nbsp;
        Distributed By: <a title="Lakra Inc" href="https://www.rslakra.com?source=demo-page"
                           target="_blank">Lakra Inc</a>
    </p>
</div>

</body>
</html>
