<!-- head -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>Thymeleaf Sidebar Layout</title>

    <!-- css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!-- Core CSS Styles -->
    <link rel="stylesheet" th:href="@{/css/core-styles.css}"/>
    <!-- SideBar-Menu CSS Styles -->
    <link rel="stylesheet" th:href="@{/css/sidebar-styles.css}"/>
    <!-- Form CSS Styles -->
    <link rel="stylesheet" th:href="@{/css/form-styles.css}"/>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
