<!-- sidebar-navigation -->
<div th:fragment="sidebar-navigation">
    <ul>
        <li>
            <!-- <a href="#" class="active"> -->
            <a th:href="@{/}">
                <span class="icon"><i class="fas fa-dice-d6"></i></span>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a th:href="@{/tasks}">
                <span class="icon"><i class="fab fa-delicious"></i></span>
                <span class="title">Tasks</span>
            </a>
        </li>
        <li>
            <a th:href="@{/tutorials}">
                <span class="icon"><i class="fab fa-elementor"></i></span>
                <span class="title">Tutorials</span>
            </a>
        </li>
        <li>
            <a th:href="@{/reports}">
                <span class="icon"><i class="fas fa-chart-pie"></i></span>
                <span class="title">Reports</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin}">
                <span class="icon"><i class="fas fa-user-shield"></i></span>
                <span class="title">Admin</span>
            </a>
        </li>
        <li>
            <a th:href="@{/settings}">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="title">Settings</span>
            </a>
        </li>
    </ul>
</div>
