<!-- top-navbar-menu -->
<div class="menu" th:fragment="top-navbar-menu">
    <div class="logo">
        Lakra Inc
        <!--        <a th:href="@{/}">-->
        <!--            <span class="icon">-->
        <!--                <i class="fas fa-brands fa-html5"></i>-->
        <!--            </span>-->
        <!--            <span class="title">Lakra Inc</span>-->
        <!--        </a>-->
    </div>
    <div class="right_menu">
        <ul>
            <li><i class="fas fa-user"></i>
                <div class="profile_dd">
                    <div class="dd_item">Profile</div>
                    <div class="dd_item">Change Password</div>
                    <div class="dd_item">Logout</div>
                </div>
            </li>
        </ul>
    </div>
</div>
